{
    "arrowParens": "always",
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "useTabs": false,
    "vueIndentScriptAndStyle": false,
    "singleQuote": true,
    "printWidth": 150,
    "trailingComma": "none",
    "tabWidth": 2
  }